@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
    name: "TasteTrail_Theme";
    default: true;
    --color-primary: #2dc653;
    --color-secondary: #041c38;
    --color-accent: #f97316;
    --neutral: #6c757d;
    --color-base-content: #000000;
    --color-base-100: #fdfcfb;
}